---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerDataDe, headerDataEn, footerData } from '~/navigation';
import { trimSlash } from '~/utils/permalinks';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const isEnglish = `/${trimSlash(new URL(Astro.url).pathname)}`.startsWith('/en');
const headerData = isEnglish ? headerDataEn : headerDataDe;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
